<%- include ('partials/header') %>
<div class="ui  main text container segment">

    <div class="ui huge header">Edit <%=blog.title%> Blog</div>
    <div>
        <form action="/blogs/<%=blog._id%>?_method=PUT" method="POST" class="ui form">
            <div class="field">
                <label>Title</label>
                <input type="text" name="blog[title]" placeholder="title" value="<%=blog.title%>">
            </div>
            <div class="field">
                <label>Image</label>
                <input type="text" name="blog[image]" placeholder="image" value="<%=blog.image%>">
            </div>
            <div class="field">
                <label>Blog</label>
                <textarea name="blog[body]" cols="30" rows="10" placeholder="Blog goes here"><%=blog.body%></textarea> 
            </div>
       
            <button class="ui violet basic button" type="submit"> submit </button>

        </form>
    </div>
</div>



<%-include ('partials/footer')%>